.MenuItem {
//   border: solid;
  border-width: 1px;
  margin: 0px 10px 0px 30px;
  font-size: 18px;

  &:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #eeeeee;
    z-index: 2;
  }
}
