.Menubar {
  background-color: white;
  height: 50px;
  box-shadow: 0 0 10px black;
  z-index: 2;
  position: relative;
  display: flex;
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;

  .globalMenus {
    display: flex;
    margin-left: 10px;
  }

  .userMenus {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    height: 60%;
    align-items: center;
  }
}
